<ion-tabs>
  <ion-router-outlet></ion-router-outlet>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ritten" href="/tabs/ritten">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>Ritten</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="seizoenen" href="/tabs/seizoenen">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Seizoenen</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chips" href="/tabs/chips">
      <ion-icon name="hardware-chip-outline"></ion-icon>
      <ion-label>Chips</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
