<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <img class="toolbar-mark" slot="start" src="assets/icon/ijsvogel.png" width="32" height="32" alt="IceInsights" />
    <ion-title>Registreren</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-pad auth-shell">
    <p class="muted">Maak een account. We slaan geen wachtwoord op in het gebruikersprofiel.</p>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <ion-list inset="true">
        <ion-item>
          <ion-input label="Voornaam" labelPlacement="stacked" formControlName="firstName" autocomplete="given-name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Tussenvoegsel" labelPlacement="stacked" formControlName="middleName" autocomplete="additional-name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Achternaam" labelPlacement="stacked" formControlName="lastName" autocomplete="family-name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Gebruikersnaam" labelPlacement="stacked" formControlName="username" autocomplete="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="E-mail" labelPlacement="stacked" type="email" formControlName="email" autocomplete="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Wachtwoord" labelPlacement="stacked" type="password" formControlName="password" autocomplete="new-password"></ion-input>
        </ion-item>
      </ion-list>

      @if (error()) {
        <ion-note color="danger" class="error">{{ error() }}</ion-note>
      }

      <ion-button expand="block" type="submit" [disabled]="busy()">
        @if (busy()) {
          <ion-spinner name="crescent"></ion-spinner>
        } @else {
          Account aanmaken
        }
      </ion-button>
    </form>

    <p class="muted center">
      Al een account?
      <a routerLink="/login">Inloggen</a>
    </p>
  </div>
</ion-content>
