<ion-header [translucent]="true">
  <ion-toolbar>
    <img class="toolbar-mark" slot="start" src="assets/icon/ijsvogel.png" width="32" height="32" alt="IceInsights" />
    <ion-title>Ritten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-pad">
    @if (error()) {
      <ion-note color="danger">{{ error() }}</ion-note>
    }

    @if (loading()) {
      <div class="center"><ion-spinner name="crescent"></ion-spinner></div>
    } @else if (!activities().length) {
      <app-empty-state
        title="Nog geen ritten"
        hint="Importeer je ritten en synchroniseer om ze hier te zien."
        icon="speedometer-outline"
      ></app-empty-state>
    } @else {
      <nav class="rit-list">
        @for (activity of activities(); track activity.id ?? $index) {
          @if (activity.id; as id) {
            <a class="rit-row" [attr.href]="'/ritten/' + id">
              <span class="rit-row-body">
                <span class="name">{{ activity.name || ('Rit #' + id) }}</span>
                <span class="meta" aria-hidden="true">{{ formatDateTime(activity.startTime) }}</span>
                <span class="loc" aria-hidden="true">{{ locationLabel(activity.locationId) }}</span>
              </span>
              <span class="best" aria-hidden="true">{{ displayDuration(activity.best1Duration) }}</span>
            </a>
          } @else {
            <div class="rit-row rit-row--static">
              <span class="rit-row-body">
                <span class="name">{{ activity.name || 'Rit' }}</span>
                <span class="meta">{{ formatDateTime(activity.startTime) }}</span>
                <span class="loc">{{ locationLabel(activity.locationId) }}</span>
              </span>
              <span class="best">{{ displayDuration(activity.best1Duration) }}</span>
            </div>
          }
        }
      </nav>
    }
  </div>
</ion-content>
