h1 {
  font-weight: 560;
  font-size: 1.6rem;
  margin: 8px 0 4px;
}

.error {
  display: block;
  margin: 0 16px 12px;
}

.center {
  text-align: center;
  margin-top: 16px;
}

a {
  color: var(--ion-color-primary);
}
